<div ng-controller = "LoginController">
<form action="/" id="myLogin">
UserName : <input type="text" id="username" ng-model = "username"><br>
Password : <input type="password" id="password"  ng-model = "password">
<button type="button" ng-click="submit()">Login</button>
<a href="" ng-click="goToForgot()">forgot password?</a><br/>
</form>
</div>