<html>
  <head>
    <title>Home</title>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
          
       <!--   <script src="angular-route.min.js"></script>-->
  </head>
  <body ng-app="myApp">
<div ng-controller = "LoginCtroller">
<!--	<h1>Angular Login Page Name : {{username}}</h1> -->
<div ng-view></div>
</div>
<!-- inner  -->
  <script type="text/javascript" src = "public/javascripts/MainCtrl.js"></script>
  </body>

</html>