<html>
<head>
<title>Loans</title>
</head>
<body>
<h1>LoanID : <%= Record %> </h1>
<h1>LoanNO : <%= Record.LoanNumber %> </h1>
<h1>Name : <%= Record.originator %> </h1>
<h1>CreationDate : <%= Record.CreationDate %> </h1>

</body>
</html>