<html>
  <head>
    <title>Home</title>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
          
          <!--<script src="angular-route.min.js"></script> -->
  </head>
	 <!-- <body ng-app="App">-->
<!--<div ng-controller = "testController">!-->
<!--<h1>Angular Login Page Name : {{username}}</h1> -->
<%= Record %>
<!-- <div ng-view></div>-->
</div>
  <!-- <script type="text/javascript" src = "public/javascripts/MainCtrl.js"></script>-->
  </body>
</html>